@font-face {
    font-family: Outfit;
    src: url(./font/Outfit-Regular.ttf);
}

html {
    font-family: 'Outfit';
    font-weight: 400, 700;
}

body {
    background-color: gray;
}

.firstText {
    font-size: 15px;
    color: hsl(218, 44%, 22%);
    background-color: hsl(0, 0%, 100%);
    width: 15%;
    height: 18%;
    position: fixed;
    top: 20%;
    left: 42%;
    padding-top: 15%;
    padding-left: 2%;
    border-radius: 30px;
}

.qrCode {
    height: 25%;
    width: 15%;
    border-radius: 10px;
    position: fixed;
    top: 24%;
    left: 43%;
    z-index: 1;
}

.secondText {
    color: hsl(220, 15%, 55%);
    font-size: 15px;
    width: 16%;
    height: 50%;
    position: fixed;
    top: 57%;
    left: 43.5%;
}

.attribution {
    position: fixed;
    top: 95%;
    left: 70%;
}

@media only screen and (min-width: 375px) and (max-width: 640px) {
    .firstText {
    font-size: 19px;
    text-align: left;
    color: hsl(218, 44%, 22%);
    background-color: hsl(0, 0%, 100%);
    width: 75%;
    height: 25%;
    position: fixed;
    top: 10%;
    left: 9.5%;
    padding-top: 83%;
    padding-left: 6%;
    border-radius: 30px;
}

.qrCode {
    height: 42%;
    width: 70%;
    border-radius: 10px;
    position: fixed;
    top: 15%;
    left: 14%;
    z-index: 1;
}

.secondText {
    color: hsl(220, 15%, 55%);
    font-size: 15px;
    width: 60%;
    height: 50%;
    position: fixed;
    top: 67%;
    left: 22%;
}

.attribution {
    height: 10%;
    width: 60%;
    position: fixed;
    top: 93%;
    left: 40%;
}

}

