@font-face {
    font-family: Outfit;
    src: url(./font/Outfit-Regular.ttf);
}

body {
    font-family: 'Outfit';
    font-weight: 400, 700;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: center;

    background-color: rgb(164, 164, 185);

    height: 100vh;
    width: 100vw;

    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

.card {
    height: 450px;
    width: 290px;

    margin: 100px;
    border-radius: 20px;

    background-color: white;
}


.card .qrCode {
    width: 265px;

    margin: 13px;

    border-radius: 10px;

    overflow: hidden;
}

.card .firstText {
    color: hsl(218, 44%, 22%);

    font-size: 18px;

    position: absolute;
    width: 200px;

    padding-left: 45px;
}

.card .secondText {
    color: hsl(212, 45%, 89%);

    font-size: 15px;
    text-align: center;

    position: absolute;
    width: 240px;

    padding-top: 60px;
    padding-left: 25px;
}
