@font-face {
    font-family: Outfit;
    src: url(./font/Outfit-Regular.ttf);
}

html {
    font-family: 'Outfit';
    font-weight: 400, 700;
}

body {
    background-color: gray;
}

.firstText {
    font-size: 18px;
    color: hsl(218, 44%, 22%);
    background-color: hsl(0, 0%, 100%);
    width: 215px;
    height: 150px;
    position: fixed;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding-top: 200px;
    padding-left: 25px;
    border-radius: 30px;
}

.qrCode {
    height: 170px;
    width: 200px;
    border-radius: 10px;
    position: fixed;
    top: 36%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
}

.secondText {
    color: hsl(220, 15%, 55%);
    font-size: 15px;
    text-align: center;
    width: 200px;
    height: 300px;
    position: fixed;
    top: 79%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.attribution {
    position: fixed;
    top: 95%;
    left: 70%;
}

@media (max-width: 375px) {
    .firstText {
    font-size: 22px;
    text-align: left;
    color: hsl(218, 44%, 22%);
    background-color: hsl(0, 0%, 100%);
    width: 320px;
    height: 220px;
    position: fixed;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding-top: 80%;
    padding-left: 6%;
    border-radius: 30px;
}

.qrCode {
    height: 250px;
    width: 300px;
    border-radius: 10px;
    position: fixed;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
}

.secondText {
    color: hsl(220, 15%, 55%);
    text-align: center;
    font-size: 18px;
    width: 300px;
    height: 150px;
    position: fixed;
    top: 75%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.attribution {
    height: 10%;
    width: 60%;
    position: fixed;
    top: 93%;
    left: 40%;
}

}

